.form__wrapper {
    @apply flex flex-col justify-center
    mx-auto
    h-full
    max-w-sm md:max-w-lg;
}

.form__container {
    @apply w-full
    md:px-4
}

.form {
    @apply flex flex-col gap-4
    w-full
    bg-blue-600
    md:rounded-md
    md:border-[1px] md:border-solid
    md:border-blue-600 md:dark:border-transparent;
}

.form__header{
    @apply flex flex-col
    gap-4
    px-4 pt-8 md:p-16 md:pb-0
    text-neutral-100;
}

.form__heading {
    @apply
    text-xl
    font-bold
    text-neutral-100
}

.form__content{
    @apply flex flex-col gap-4
    w-full
    px-4 md:px-16 md:pb-8 ;
}

.form__footer{
    @apply flex flex-col gap-4
    text-neutral-100
    p-4 md:px-16 md:py-8
    border-t-[1px] border-solid border-t-blue-700
}

.form__footer--end{
    @apply text-center
}