.container {
  @apply flex flex-col grow;

  &--top {
    @apply flex grow
    rounded-md
    bg-neutral-100;

    &:focus,
    &:focus-within {
      @apply outline outline-offset-4 outline-2;
    }

    &.primary {
      &:focus,
      &:focus-within {
        @apply outline-blue-500;
      }

      &:hover {
        & .container-top--left,
        & .container-top--middle,
        & .container-top--right {
          @apply border-blue-500;
        }
      }
    }

    &.secondary {
      &:focus,
      &:focus-within {
        @apply outline-neutral-100;
      }

      &:hover {
        & .container-top--left,
        & .container-top--middle,
        & .container-top--right {
          @apply border-neutral-100;
        }
      }
    }

    &.error {
      &:focus,
      &:focus-within {
        @apply outline-red-300;
      }

      &:hover {
        & .container-top--left,
        & .container-top--middle,
        & .container-top--right {
          @apply border-red-500;
        }
      }
    }

    & > *:first-child {
      @apply border-solid
      ltr:border-l-[1px] rtl:border-r-[1px]
      ltr:rounded-l-md rtl:rounded-r-md;
    }

    & > *:last-child {
      @apply border-solid
      ltr:border-r-[1px] rtl:border-l-[1px]
      ltr:rounded-r-md rtl:rounded-l-md;
    }

    &--left {
      @apply flex items-center justify-center
      p-3 ltr:pr-0 rtl:pl-0
      bg-neutral-100
      border-y-[1px] border-solid
      border-neutral-400 dark:border-transparent
      font-sans text-neutral-900
      text-sm;

      &.error {
        @apply border-red-500;
      }
    }

    &--middle {
      @apply relative
      flex grow gap-2
      pb-2 pt-5 px-3
      bg-neutral-100
      border-y-[1px] border-solid
      border-neutral-400 dark:border-transparent
      font-sans text-neutral-900
      text-sm;

      &.error {
        @apply border-red-500;
      }
    }

    &--right {
      @apply flex items-center justify-center
      p-3 ltr:pl-0 rtl:pr-0
      bg-neutral-100
      border-y-[1px] border-solid
      border-neutral-400 dark:border-transparent
      font-sans text-neutral-900
      text-sm;

      &.error {
        @apply border-red-500;
      }
    }
  }
}
